body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #849d8f;
  color: white;
}

.header-h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.header-h3 {
  font-weight: 500;
}
.header-h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  text-decoration: underline;
}
p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}
.subscribe-text {
  font-weight: 400;
  color: #5a5a5a;
}
.email {
  color: #999999;
}
.button {
  font-weight: 700;
  background-color: #ea5239;
}
.button, a {
  color: white;
}
.header {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
}
.header .button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
.page-title {
  font-size: 60px;
  line-height: 90px;
  line-height: 62px;
}
.cone1 {
  height: 450px;
  background: url("../img/cone1.png") no-repeat 50%;
  background-size: 250px;
}
.cone2 {
  height: 450px;
  background: url("../img/cone2.png") no-repeat center;
  background-size: 250px;
}
.visually-hidden {
  display: none;
}

.black-text {
  color: #323232;
}

.raspberry-bkg {
  background: url("../img/raspberry-bkg.png") no-repeat;
}

.chocolate-bkg {
  background: url("../img/chocolate-bkg.png") no-repeat;
}

.waffle-bkg {
  background: url("../img/wafle-bkg.png");
  color: black;
}

.strawberry-bkg {
  background: url("../img/strawberry-bkg.png") no-repeat;
}

.waffle-bkg, .strawberry-bkg, .striped-bkg, .location-info, .cart-info {
  color: black;
}


/* flex */
.main-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.cart-container {
  border: 1px solid black;
  width: 540px;
  height: 242px;
  padding: 20px 20px 20px 90px;
}

.cart-item p, .cart-item span{
  color: black;
}

.cart-item-button {
  /* all: unset; */
  position: absolute;
  left: 20px;
  /* border: none; */

}

.cart-item-icon {
  position: absolute;
  /* left: 20px; */
}


/* .header {
  position: fixed;
} */

/*
.header {
  background-color: yellow;
}

.main {
  background-color: green;
}

.footer {
  background-color: blue;
} */
