body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #849d8f;
  color: white;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.main-content__heading-2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.main-content__heading-3 {
  font-weight: 500;
  margin: 0;
}
.header-h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  text-decoration: underline;
}
p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}
.subscribe-text {
  font-weight: 400;
  color: #5a5a5a;
}
.email {
  color: #999999;
}
.button {
  font-weight: 700;
  background-color: #ea5239;
}
.button, a {
  color: white;
}
.header {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
}
.header .button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
.logo {
  padding: 10px 10px 10px 27px;
  width: 155px;
}
.navigation__list ul, .navigation__list li, .site-functionality__items li {
  list-style-type: none;
}
.navigation__list {
  padding: 0;
  margin: 0;
  padding: 32px 0;
  width: 350px;
}
.navigation__list li {
  display: inline-block;
  padding: 5px;
}
.navigation__list a:hover, .navigation__list a:focus {
  background-color: #fbded7;
}
.navigation__list a:active {
  background-color: #f6b5a5;
}
/* .navigation__list a:visited {
  background-color: #d07058;
  color: white;
} */
nav {
  margin-left: 15px;
  margin-right: 370px;
}
.site-functionality__items {
  padding: 0;
  display: flex;
}
.header-button{
  border: 0;
  background: #9db1a5;
  color: white;
  padding: 7px;
  margin: 5px;
  border-radius: 35%;
}
.header a {
  text-decoration: none;
}
.main-content__hero-image-container img {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: -1;
}
.page-title {
  font-size: 60px;
  line-height: 90px;
  line-height: 62px;
}
.main-content__promo-banner-container {
  border-radius: 7px;
  padding: 22px 20px;
}
.raspberry-bkg {
  margin: 0 13px 0 27px;
}
.chocolate-bkg {
  margin: 0 27px 0 13px;
}
.visually-hidden:not(:focus):not(active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.black-text {
  color: #323232;
}
.raspberry-bkg {
  background: url("../img/raspberry-bkg.png") no-repeat;
}
.chocolate-bkg {
  background: url("../img/chocolate-bkg.png") no-repeat;
}
.waffle-bkg {
  background: url("../img/wafle-bkg.png");
  color: black;
  border-radius: 7px;
}
.strawberry-bkg {
  background: url("../img/strawberry-bkg.png") no-repeat;
}
.waffle-bkg, .strawberry-bkg, .striped-bkg, .location-info, .cart-info {
  color: black;
}
/* flex */
.main-flex-wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  /* flex-direction: row; */
}
.main-content__work-hours-and-contact-number{
  text-align: right;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.main-content__work-hours {
  font-size: 14px;
}
.main-content__contact-number {
  font-size: 22px;
  font-weight: bold;
}
.main-content__title-and-action-btn {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 50px;
}
.main-content__promo-banners{
  display: flex;
  flex-direction: row;
}
.main-content__hits-container ul{
  display: flex;
  list-style: none;
}
.main-content__hit {
  width: 260px;
}
.main-content__hit img{
  width: 200px;
  height: 200px;
}
.news-and-subscribtion{
  display: flex;
}
.news {
  width: 560px;
  margin: 40px 13px 20px 27px;
}
.subscribe{
  width: 560px;
  margin: 40px 27px 20px 13px;
}
.main-content__advantages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-content__advantage {
  width: 476px;
}
.items-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  width: 330px;
  height: 270px;
  margin-top: 10px;
  padding-top: 20px;
}
.list-item img {
  max-width: 200px;
}

/* index.html address section */
.location-info {
  background-color: #fff;
  width: 303px;
  height: 309px;
}
.location-info p{
  color: #323232;
}
